.create {
	text-align: center;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	padding: 10px 15px;
	border-radius: 6px;
}

form {
	width: 85%;
}

label {
	float: left;
}

.btn-primary {
	width: 100%;
}