.navbar-brand {
	padding: 10px 15px 0px 15px;
}

.navbar-inverse .navbar-nav > .active > a {
	font-weight: bold;
	background-color: #222;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover {
	color: black;
	background-color: #f1f1f1;
}

.searchbar {
	float:right;
}


.btn {
	width: 75px;
	margin: 0px;
}

