<link href="css/create.css" rel="stylesheet">

<navbar></navbar>
<div class="content">
    <form class="simple-form" novalidate>
    <h1>New Question</h1>
    <select>
    	<option value="Agile">Agile</option>
    	<option value="Angular">Angular</option>
    	<option value="BigData">Big Data</option>
    	<option value="CloudComputing">Cloud Computing</option>
    	<option value="Java">Java</option>
    	<option value="JSQuery">Javascript/JQuery</option>
    	<option value="HTML">HTML/CSS</option>
    	<option value="Python">Python</option>
    	<option value="SQL">SQL</option>
    	<option value="UI">UI/UX</option>
    	<option value="UNIX">UNIX</option>
    	<option value="NET">.NET Framework</option>
    </select>
		<br/>
    <input type="text" ng-model="question.question" placeholder="Enter Question Here"><br/>
    <textarea ng-model="question.text" rows="5" cols="20000" placeholder="Enter Question Description Here"></textarea><br/>
    <button type="submit" class="btn btn-lg btn-spheres" ng-click="createQuestion()">CreateQuestion</button>
    </form>
</div>
