<link href="css/navbar.css" rel="stylesheet">

 <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">View topics</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-href="#/"><img ng-src="images/batmobile_logo_small.png"></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a ng-href="#/create">Ask</a></li>
          <li><a href="#" ng-click="logout()">Logout</a></li>
        </ul>
        <!--<span class="searchbar">-->
          <form novalidate>
              <input type="text" ng-model="search.text" placeholder="Search...">
              <input type="submit" class="search_btn btn-default" ng-click="searchQuestions(search)" value="Search">
          </form>
      <!--</span>-->
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->