<link href="css/home.css" rel="stylesheet">
<navbar></navbar>
<div class="container">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-9">
			<p class="pull-right visible-xs">
				<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
			</p>
			<div class="jumbotron">
			<h1>Welcome to BATmobile</h1>
			<p>BATmobile is a question and answer site for AT&T employees working on improving their knowledge/skills through Fast Path. Explore topics on the right and view popular questions below.</p>
		</div>
		<div class="row">
			<div class="col-xs-6 col-lg-4" ng-repeat="post in posts">
				<h2>{{post.text}}</h2>
				<p>{{post.description}}</p>
				<p><a class="btn btn-default" href="#/question/:{{post.id}}" role="button">View details &raquo;</a></p>
			</div>
		</div>
	</div>
	<sidebar></sidebar>
	<hr>
	<footer>
		<p>&copy; SegFault 2015</p>
	</footer>
</div>
