<link href="css/profile.css" rel="stylesheet">

<navbar></navbar>

<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Profile</h1>
            <p>BATmobile is a question and answer site for AT&T employees working on improving their knowledge/skills through Fast Path. Explore topics on the right and view popular questions below.</p>
          </div>
        </div><!--/.col-xs-12.col-sm-9-->

      <hr>

      </div><!--/row-->

      <footer>
        <p>&copy; SegFault 2014</p>
      </footer>

    </div><!--/.container-->
