<link href="css/topic.css" rel="stylesheet">
<navbar></navbar>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">

        <div ng-controller="topicController" class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <h1>{{topic.title}}</h1>
            </div>
            <div class="row">
                <div ng-repeat="question in topic.questions" class="col-xs-6 col-lg-4">
                    <h2>{{question.title}}</h2>
                    <p>{{question.description}}</p>
                    <p><a class="btn btn-default" href="#/{question.title}" role="button">View Question &raquo;</a></p>
                </div><!--/.col-xs-6.col-lg-4-->
            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <sidebar></sidebar>
        <hr>

    </div><!--/row-->

    <footer>
        <p>&copy; Company 2014</p>
    </footer>

</div><!--/.container-->
